@font-face {
    font-family: 'CooperHewitt';
    src: url('type/CooperHewitt-Thin.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'CooperHewitt';
    src: url('type/CooperHewitt-Medium.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CooperHewitt';
    src: url('type/CooperHewitt-Thin.otf') format('opentype');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'CooperHewitt';
    src: url('type/CooperHewitt-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    color: white;
    font-family: 'CooperHewitt', sans-serif;
    font-size: 21px;
    letter-spacing: .04em;
    line-height: 1.4;
}

body {
    background: black;
}

.container {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 45rem;
    padding: 1rem;
    text-align: left;
}

a {
    display: inline-block;

}

a:link {
    color: white;
}

a:visited {
    color: hotpink;
}

a:hover {
    background-color: black;
    color: white;
}

a:active {
    color: hotpink;
}

ul {
    list-style-type: square;
    line-height: 1.4;
}

ul a {
    display: block;

}

li {
    margin: .5em;
}

article {
    padding: 1rem;
}
h1 {
    font-size: 22vw;
}

h2 {
    font-size: 1.5rem;
}

header {
    color: white;
    background-color: black;
}

section {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

@media (min-width: 576px) {
    .container {
        padding: 2rem;

    }
}

